image: "prompve/prometheus-pve-exporter:3.8.0@sha256:66e0c8558b23f06231ab55ab1afdef2d43ff24365bcf75d36adaef6d9f7497df"
replicaCount: 1

ingress:
  enabled: false
  hostname: proxmox-exporter.local
  path: /
  pathType: Prefix
  backend:
    servicePort: http

containerPorts:
  http: 9221

annotations: {}

service:
  type: ClusterIP
  nodePorts: {}
#   http: 9221
  ports:
    http: 9221

livenessProbe:
  enabled: true
  path: /
  port: 9221
  initialDelaySeconds: 180
  periodSeconds: 20
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

readinessProbe:
  enabled: true
  path: /
  port: 9221
  initialDelaySeconds: 180
  periodSeconds: 20
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

serviceMonitor:
  enabled: false
  extraLabels: {}
#   release: prometheus
  interval: 30s
  scrapeTimeout: 30s
  module: default
  targets: []

env: []
