image: "cloudflare/cloudflared:2024.12.1@sha256:fc6afe4a5dcf2a801b39fcd538c9d5d4d53ea229fe9976584835bdb8c185ed5d"
replicaCount: 2

containerPorts:
  http: 2000

annotations: {}

ingress:
  enabled: false

service:
  type: ClusterIP
  nodePorts: {}
#   http: 2000
  ports:
    http: 2000

env: []
envFrom: []

livenessProbe:
  enabled: true
  path: /healthcheck
  port: 2000
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 1
  successThreshold: 1

readinessProbe:
  enabled: true
  path: /ready
  port: 2000
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 1
  successThreshold: 1

podMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 30s
