image: "cloudflare/cloudflared:2025.7.0@sha256:803b17adb5326a38ce397b9c9f374289ad290ee5526d204b5879a1423b6f5c3e"
replicaCount: 2

containerPorts:
  http: 2000

annotations: {}

ingress:
  enabled: false

service:
  type: ClusterIP
  nodePorts: {}
#   http: 2000
  ports:
    http: 2000

env: []
envFrom: []

livenessProbe:
  enabled: true
  path: /healthcheck
  port: 2000
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 1
  successThreshold: 1

readinessProbe:
  enabled: true
  path: /ready
  port: 2000
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 1
  successThreshold: 1

podMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 30s
